{% extends 'bases/base.html' %}

{% block headmessage %}
    <div style="text-align: left;">
        生活碳足跡計算
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <p> 日期：<input type="text" id="datepicker" class="form-control" value="2023/9/14" style="width: 200px; height: 30px"> </p>


    </div>
    
    </div>
    <!--<div class="col-md-3">
        <button class="btn btn-primary">完成</button>
    </div>-->
</div>

<div>
    <p>生活碳足跡</p>
    <p id="carbonFootprintDate"></p> <!-- 用于显示日期 -->
    <!-- 在这里添加生活碳足迹计算的内容 -->
</div>

<hr>

<div style="display: flex; justify-content: space-between;">
    <!-- 左方区域 -->
    <div style="flex: 1;">
        <label for="applianceSelect">選擇電器:</label>
        <select id="applianceSelect" name="applianceSelect">
            <option value="1">電冰箱</option>
            <option value="2">電鍋</option>
            <option value="3">開飲機</option>
            <option value="4">微波爐</option>
            <option value="5">抽油煙機</option>
            <option value="6">果汁機</option>
            <option value="7">果榨汁機</option>
            <option value="8">烘碗機</option>
            <option value="9">電磁爐</option>
            <option value="10">多功能火鍋</option>
            <option value="11">烤麵包機</option>
            <option value="12">電咖啡壺</option>
            <option value="13">電烤箱</option>
            <option value="14">洗衣機</option>
            <option value="15">乾衣機</option>
            <option value="16">電熨斗</option>
            <option value="17">冷氣機</option>
            <option value="18">吹風機</option>
            <option value="19">電暖爐</option>
            <option value="20">電扇</option>
            <option value="21">吸塵器</option>
            <option value="22">抽風機</option>
            <option value="23">燈泡(60W)</option>
            <option value="24">日光燈(20W)</option>
            <option value="25">省電燈泡</option>
            <option value="26">神龕燈</option>
            <option value="27">電視機</option>
            <option value="28">機上盒</option>
            <option value="29">音響</option>
            <option value="30">收音機</option>
            <option value="31">電腦:主機+顯示器</option>
            <option value="32">印表機</option>
            <option value="33">手機充電器</option>
            <option value="34">筆記型電腦MacBook Pro</option>
            <option value="35">電熱水器</option>
            <option value="36">電熱水瓶</option>
            <option value="37">變頻冷氣</option>
        </select>
        <br>
        <label for="startTimeInput">開始時間:</label>
        <input type="text" id="startTimeInput" name="startTimeInput">
        <br>
        <label for="endTimeInput">結束時間:</label>
        <input type="text" id="endTimeInput" name="endTimeInput">
        <br>
        <button id="addApplianceButton">新增電器</button>
        <button id="resetButton">重設</button>
        <div id="applianceList">
            <!-- 这里将显示选项和时间 -->
        </div>
    </div>

    <!-- 右方区域 -->
    <div style="flex: 1;">
        <p>今日用量</p>
        <canvas id="carbonBarChart" width="400" height="200"></canvas>
    </div>
</div>
<div>
    <label for="DailyElectricity">DailyElectricity:</label>
    <input type="text" id="DailyElectricity" readonly value="">
</div>

<div>
    <label for="Reality">MonthlyCarbonEmission:</label>
    <input type="text" id="MonthlyCarbonEmission" readonly value="">
</div>

<div>
    <label for="Reality">MonthlyElectricity:</label>
    <input type="text" id="MonthlyElectricity" readonly value="">
</div>

<div>
    <label for="ThreeTier">DailyCost:</label>
    <input type="text" id="ThreeTierDailyCost" readonly value="">
</div>

<div>
    <label for="ThreeTier">MonthlyCost:</label>
    <input type="text" id="ThreeTierMonthlyCost" readonly value="">
</div>

<div>
    <label for="ThreeTier">WeekendCost:</label>
    <input type="text" id="ThreeTierWeekendCost" readonly value="">
</div>
<div>
    <label for="ThreeTierSummer">DailyCost:</label>
    <input type="text" id="ThreeTierSummerDailyCost" readonly value="">
</div>

<div>
    <label for="ThreeTierSummer">MonthlyCost:</label>
    <input type="text" id="ThreeTierSummerMonthlyCost" readonly value="">
</div>

<div>
    <label for="ThreeTierSummer">WeekendCost:</label>
    <input type="text" id="ThreeTierSummerWeekendCost" readonly value="">
</div>

<div>
    <label for="TwoTier">DailyCost:</label>
    <input type="text" id="TwoTierDailyCost" readonly value="">
</div>

<div>
    <label for="TwoTier">MonthlyCost:</label>
    <input type="text" id="TwoTierMonthlyCost" readonly value="">
</div>

<div>
    <label for="TwoTier">WeekendCost:</label>
    <input type="text" id="TwoTierWeekendCost" readonly value="">
</div>

<div>
    <label for="TwoTierSummer">DailyCost:</label>
    <input type="text" id="TwoTierSummerDailyCost" readonly value="">
</div>

<div>
    <label for="TwoTierSummer">MonthlyCost:</label>
    <input type="text" id="TwoTierSummerMonthlyCost" readonly value="">
</div>

<div>
    <label for="TwoTierSummer">WeekendCost:</label>
    <input type="text" id="TwoTierSummerWeekendCost" readonly value="">
</div>

{% endblock %}

{% block js_script %}
<script>
    $("#addApplianceButton").click(function(){
        var deviceName = $("#applianceSelect").val();
        var startTime = $("#startTimeInput").val();
        var endTime = $("#endTimeInput").val();

        // 检查是否填写了必要字段
        if (deviceName && startTime && endTime) {
            // 创建要发送的数据对象
            var applianceData = {
                "device_name": deviceName,
                "start_hour": startTime,
                "end_hour": endTime
        axios.post("http://127.0.0.1:8000/api/power/",applianceData)    
    }
}
    }
    )
</script>
<script>
    axios.get('http://127.0.0.1:8000/api/power/')
    .then((res)=>{
        console.log(res.data)
        $(`#DailyElectricity`).val(res.data.DailyElectricity); 
        $(`#MonthlyCarbonEmission`).val(res.data.case.Reality.MonthlyCarbonEmission); 
        $(`#MonthlyElectricity`).val(res.data.case.Reality.MonthlyElectricity);
        $(`#ThreeTierDailyCost`).val(res.data.case.Reality.Priciing.ThreeTier.DailyCost); 
        $(`#ThreeTierMonthlyCost`).val(res.data.case.Reality.Priciing.ThreeTier.MonthlyCost); 
        $(`#ThreeTierWeekendCost`).val(res.data.case.Reality.Priciing.ThreeTier.WeekendCost); 
        $(`#ThreeTierSummerDailyCost`).val(res.data.case.Reality.Priciing.ThreeTierSummer.DailyCost); 
        $(`#ThreeTierSummerMonthlyCost`).val(res.data.case.Reality.Priciing.ThreeTierSummer.MonthlyCost); 
        $(`#ThreeTierSummerWeekendCost`).val(res.data.case.Reality.Priciing.ThreeTierSummer.WeekendCost); 
        $(`#TwoTierDailyCost`).val(res.data.case.Reality.Priciing.TwoTier.DailyCost); 
        $(`#TwoTierMonthlyCost`).val(res.data.case.Reality.Priciing.TwoTier.MonthlyCost); 
        $(`#TwoTierWeekendCost`).val(res.data.case.Reality.Priciing.TwoTier.WeekendCost); 
        $(`#TwoTierSummerDailyCost`).val(res.data.case.Reality.Priciing.TwoTierSummer.DailyCost); 
        $(`#TwoTierSummerMonthlyCost`).val(res.data.case.Reality.Priciing.TwoTierSummer.MonthlyCost); 
        $(`#TwoTierSummerWeekendCost`).val(res.data.case.Reality.Priciing.TwoTierSummer.WeekendCost);            
    })
    .catch((error)=>{

    })
</script>
{% endblock %}