<!-- base.html -->
<!DOCTYPE>
<html>
<head>
    {% load static %}   <!-- added 09/07 -->
    <meta charset='utf-8'>
    <title>
       {% block title %} {% endblock %}
    </title>
    {% include 'components/header_lib.html' %}
    {% include 'components/header_css.html' %}
</head>
<body>
    {% include 'components/navbar.html' %}
    <header>
        <div
          class="text-center bg-image"
          style="
            background-image: url('{% static 'img/banner1.jpg' %}');
            height: 350px;
          "
        >
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
                <div class="d-flex justify-content-center align-items-center h-100">
                    <div class="text-white">
                        <h1 class="mb-3">{% block headmessage %}{% endblock %}</h1>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <div class="container">
        <div class="row">
            {% include 'components/sidebar.html' %}
            {% block content %}{% endblock %}
        </div>
    </div>
    {% include 'components/footer.html' %}
</body>
</html>
{% block js_script %}{% endblock %}