<div class="col-lg-3">
    <!-- Search widget-->
    <div class="card mb-4">
        <div class="card-header">Search</div>
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
            </div>
        </div>
    </div>

    <!--下方要插入小工具 p.58 -->
    <div class="card mb-4">
        <div class="card-header">在線人數</div>
        <div class="card-body">
            <script id="_wau7t2">var _wau = _wau || []; _wau.push(["map", "pvhi4fpv0d", "7t2", "250", "125", "night", "cross-pink"]);</script><script async src="//waust.at/m.js"></script>
        </div>
    </div>


    <!-- Side widget-->
    <div class="card mb-4">
        <div class="card-header">金融</div>
        <div class="card-body">
                    <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
            <div id="tradingview_f44d7"></div>
            <div class="tradingview-widget-copyright"><a href="https://tw.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">追蹤TradingView上的所有市場</span></a></div>
            <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
            <script type="text/javascript">
            new TradingView.widget(
            {
            "autosize": true,
            "symbol": "NASDAQ:AAPL",
            "interval": "15",
            "timezone": "Asia/Taipei",
            "theme": "light",
            "style": "1",
            "locale": "zh_TW",
            "enable_publishing": false,
            "allow_symbol_change": true,
            "container_id": "tradingview_f44d7"
             }
            );
            </script>
        </div>
        <!-- TradingView Widget END -->
        </div>
    </div>







    <!-- Side widget-->
    <div class="card mb-4">
        <div class="card-header">Side Widget</div>
        <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
    </div>
</div>